* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    90deg,
    hsla(186, 33%, 94%, 1) 0%,
    hsla(216, 41%, 79%, 1) 100%
  );
}

#container {
  text-align: center;
}

h1 {
  background: linear-gradient(
    90deg,
    hsla(208, 33%, 21%, 1) 0%,
    hsla(211, 36%, 46%, 1) 100%
  );
  background-clip: text;
  color: transparent;
  font-size: 2.25rem;
}
.links-container {
  margin-top: 3rem;
  /* display: flex; */
  /* gap: 2rem; */
}
.links-container a {
  padding: 0.5rem 1rem;
  background: linear-gradient(
    90deg,
    hsla(208, 33%, 21%, 1) 0%,
    hsla(211, 36%, 46%, 1) 100%
  );
  text-decoration: none;
  color: white;
  border-radius: 0.25rem;
  transition: transform 0.3s ease-in-out;
  display: inline-block;
  font-weight: 500;
  margin-bottom: 4rem;
  &:hover {
    transform: scale(1.05);
  }
}
