*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
table, th, td{
    border: 1px solid #e1e1e1;
}
table{
    height: 150px;
    width: 300px;
}
.project{
    background-color: #1c1c1c;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}
